pre-commit
aioredis
argon2-cffi
fastapi
numpy
Pillow
pydantic
python-dotenv
bcrypt
python-jose
rich
slowapi
snowflake_id
tortoise-orm
"tortoise-orm[asyncpg]"
uvicorn
async-cache
aio-pika
python-multipart